body{
    background-color: rosybrown;
}
h1{
    background-color: antiquewhite;
    color: rosybrown;
    text-align: center;
}
img{
    height: 250px;
}
.div{
    padding: 10px;
    text-align: center;
}
